.container {
    display: flex;
    justify-content: center;
}

table {
    border: 1px solid #ddd;
    border-collapse: collapse;
}

th {
    background-color: #04AA6D;
    color: white;
}

th,
td {
    padding: 5px;
    text-align: left;
    vertical-align: center;
}

tr:nth-child(even) {
    background: #CCC
}

tr:nth-child(odd) {
    background: #FFF
}

tr:hover {
    background-color: coral;
}

input[type="text"] {
    background: transparent;
    border: none;
}

.alert-box {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-top: 10px;
}

.alert-danger {
    background-color: #f44336;
}

.alert-success {
    background-color: #04AA6D;
}

.alert-info {
    background-color: #2196F3;
}

.alert-warning {
    background-color: #ff9800;
}